//colors
$yellow: #FFE600;
$white: #FFFFFF;
$grayDark: #333333;
$grayMedium: #666666;
$gray: #999999;
$grayLight: #EEEEEE;
$blue: #3483FA;

//paddings
$padding16: 16px;
$padding32: 32px;

//font sizes
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize24: 24px;
$fontSize28: 28px;
$fontSize46: 46px;
